<app-navbar></app-navbar>
<app-header></app-header>
<div class="conatainer-fluid" style="padding-left: 4%; padding-right: 4%;">
    <hr>
</div>
<div class="container-fluid shop-by-store-main">
    <div class="row">
        <h6 class="shop-by-title">Shop by store</h6>
    </div>
</div>
<div class="container-fluid greocery-main">
    <div class="row">
        <h6 class="grocery-title">Groceries</h6>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image1.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image2.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image3.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image4.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid greocery-main">
    <div class="row">
        <h6 class="grocery-title">Creative Services</h6>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller1.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller3.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller6.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller4.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid greocery-main">
    <div class="row">
        <h6 class="grocery-title">Groceries</h6>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image1.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image2.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image3.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3">
            <div>

                <img src="assets/images/grocery-image4.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid greocery-main">
    <div class="row">
        <h6 class="grocery-title">Creative Services</h6>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller1.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller3.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller6.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
        <div class="col-xl-3 mt-2">
            <div>

                <img src="assets/images/bestseller4.jpg" class="grocery-iamage">
                <button class="visit-button">Visit</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>