<app-navbar></app-navbar>
<app-header></app-header>

<div class="container-fluid product-detail-main">
   <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 category-col-1">
       <div class="product-detail-image-div">
        <img src="assets/images/bestseller2.jpg" class="product-detail-image">
       </div>
       <div class="product-detail-images-div mt-3">
         <div>
            <img src="assets/images/bestseller1.jpg" class="detail-images">
         </div>
         <div>
            <img src="assets/images/bestseller2.jpg" class="detail-images">
         </div>
         <div>
            <img src="assets/images/bestseller3.jpg" class="detail-images">
         </div>
         <div>
            <img src="assets/images/bestseller4.jpg" class="detail-images">
         </div>
       </div>

       <div class="buttons mt-4">
        <div class="add-cart-button">
            <button class="add-cart">Add to cart</button>
        </div>
        <div class="add-cart-button">
            <button class="mx-4 add-heart">
                <img src="assets/images/heartt.png" height="20" width="20">
            </button>
        </div>
        <div class="add-cart-button">
            <button class="add-pie">
                <img src="assets/images/pi-chart.jpg" height="20" width="20">
            </button>
        </div>
       </div>

       <div class="buy-button-div mt-2">
        <button class="buy-button">Buy now</button>
       </div>
    </div>

    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 detail-div">
        <div class="title-product-detail">
            <h6 class="product-detail-title">Plant Rack with stand</h6>
            <button class="forward-button"><img src="assets/images/forward.png" height="20" width="20" class="forware-image"></button>
        </div>
        <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked mx-2"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked mx-2"></span>
            <span class="fa fa-star"></span>
            <span class="mx-3 review-text">121 review | write a review</span>
            <p class="cost mt-2">₹ 3999 ,<span class="not-cost"> 4999</span> </p>
            <h6 class="available-offers">Available Offers</h6>
            <p class="offer-detail">Special PriceGet extra 15% off (price inclusive of cashback/coupon)T&C</p>
        </div>
        <div class="mt-4">
            <hr>
        </div>
        <div class="hightlight-div">
            <h6 class="title-highlight">Highlights</h6>
            <p class="mt-3 hightlight-detail">Type: Plant Rack - Hang with wall</p>
            <p class="hightlight-detail">Shape : Rectangle</p>
            <p class="hightlight-detail">Height: 20 cm</p>
            <p class="hightlight-detail">Material: Wood</p>
            <p class="hightlight-detail">Color: Brown</p>
        </div>
        <div class="mt-4">
            <hr>
        </div>
        <div>
            <h6 class="description-title">Descriptions</h6>
            <p class="description-detail">The unique combination of vintage and industrial design makes this plant stand decorative. It’s ideal for the display of your favorite plant, collectible and picture frames. The plant stand will bring sophistication to your living room, entry hall, office and so on</p>
        </div>
        <div class="mt-4">
            <hr>
        </div>
        <div>
            <h6 class="specification-title">Specifications</h6>
            <p class="specification-detail">Sales package : 1</p>
            <p class="specification-detail">Model Number: ECWIPPS66J</p>
            <p class="mt-3 detail-specification">Manufacturing, Packaging and Import Info</p>
        </div>
        <div class="mt-4">
            <hr>
        </div>
        <div>
            <h6>Ratings & reviews</h6>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked mx-2"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked mx-2"></span>
            <span class="fa fa-star"></span>
            <span class="mx-5 review-text">121 review <span style="float: right;">Rate & review</span> </span>
        </div>
        <div class="mt-4">
            <hr>
        </div>
        <div>
            <h6 class="just-wow-title">Just wow !</h6>
            <p class="description-detail">It’s a good purchase.. stand is quite sturdy and beautiful in look👌. hopefully it will last for years…. 🙂 Manisha Gund. - Certified Buyer, Pune 8months ago</p>
        </div>
    </div>
    <div class="mt-4">
        <hr>
    </div>
    
</div>
<div class="container-fluid faq-question-main">
    <div class="row">
        <h6 class="faq-title">Faq for services</h6>
        <div class="faq-question mt-4">
          <p class="mx-0 px-0 mb-0 question">Q:This is almond big size or small size</p>
          <p class="mx-0 px-0 mb-0 answer">A:Big</p>
        </div>
        <div class="faq-question mt-4">
            <p class="mx-0 px-0 mb-0 question">Q:It's roasted almond</p>
            <p class="mx-0 px-0 mb-0 answer">A:Yes</p>
          </div>
          <div class="mt-5">
            <h6 class="question-all">view all questions</h6>
          </div>
    </div>
</div>
<div class="mt-4">
    <hr>
</div>
<div class="container-fluid">
    <div class="row">
        <h6 class="faq-title">Similar Products</h6>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
            <div class="image1">
                <img src="assets/images/bestseller1.jpg" class="image1-banner">
            </div>
            <p class="mb-0 similar-detail">New Innovative Handicrafts Mini Glass Flower Plant ….</p>
            <div class="mt-3 mb-3">
                <span class="rate-div">
                    4.6 <i class="fa fa-star" style="color: white;"></i>
                </span>
            </div>
            
            <h6 class="cost-similar-product">₹3999  &nbsp; &nbsp; <span class="not-cost-similar-product">₹4999</span> <span class="offer-cost"> 35% off</span></h6>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
            <div class="image1">
                <img src="assets/images/bestseller6.jpg" class="image1-banner">
            </div>
            <p class="mb-0 similar-detail">New Innovative Handicrafts Mini Glass Flower Plant ….</p>
            <div class="mt-3 mb-3">
                <span class="rate-div">
                    4.3 <i class="fa fa-star" style="color: white;"></i>
                </span>
            </div>
            
            <h6 class="cost-similar-product">₹2999  &nbsp; &nbsp; <span class="not-cost-similar-product">₹4999</span> <span class="offer-cost"> 35% off</span></h6>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
            <div class="image1">
                <img src="assets/images/bestseller2.jpg" class="image1-banner">
            </div>
            <p class="mb-0 similar-detail">New Innovative Handicrafts Mini Glass Flower Plant ….</p>
            <div class="mt-3 mb-3">
                <span class="rate-div-green">
                    4.6 <i class="fa fa-star" style="color: white;"></i>
                </span>
            </div>
            
            <h6 class="cost-similar-product">₹3999  &nbsp; &nbsp; <span class="not-cost-similar-product">₹4999</span> <span class="offer-cost"> 35% off</span></h6>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
            <div class="image1">
                <img src="assets/images/bestseller3.jpg" class="image1-banner">
            </div>
            <p class="mb-0 similar-detail">New Innovative Handicrafts Mini Glass Flower Plant ….</p>
            <div class="mt-3 mb-3">
                <span class="rate-div-green">
                    4.6 <i class="fa fa-star" style="color: white;"></i>
                </span>
            </div>
            
            <h6 class="cost-similar-product">₹2999  &nbsp; &nbsp; <span class="not-cost-similar-product">₹4999</span> <span class="offer-cost"> 35% off</span></h6>
        </div>
    </div>
</div>
<div class="mt-4">
    <hr>
</div>
<app-footer></app-footer>