.form-control {
  width: 149px;
}
.logo {
  height: 21px;
  width: 123px;
}
.nav-link {
  font-size: 15px;
  text-transform: capitalize;
  color: grey;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: Lato regular;
  font-weight: bold;
}
.navbar {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 4%;
}
.title {
  position: absolute;
  left: 86%;
  color: midnightblue;
  top: 0%;
  bottom: 12%;
  font-size: 13px;
  font-family: Muli bold;
  text-decoration: none !important;
}
.nav-link-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  text-transform: capitalize;
  color: grey;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: Lato regular;
  font-weight: bold;
}
.title a {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: midnightblue;
  font-family: Muli semibold !important;
  font-weight: bold;
}
.login-text {
  border-bottom: 1px solid midnightblue;
  padding-bottom: 1%;
}
.signup-text {
  border-bottom: 1px solid midnightblue;
  padding-bottom: 1%;
}
.nav-link-item {
  display: none;
}
.mobile-menu {
  display: none;
}
@media (max-width: 992px) {
  .title {
    display: none !important;
  }
  .nav-link-item {
    display: flex;
    color: midnightblue;
    text-decoration: underline;
    font-size: 13px;
  }
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
  }
  .nav-link {
    text-align: center;
  }
  .btn-search {
    border: none;
    background-color: transparent;
  }
  .hrline {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .form-control {
    width: 90px !important;
  }
  .title {
    position: absolute;
    left: 86.5%;
    color: midnightblue;
    text-decoration: underline;
    top: 19%;
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .logo {
    height: 60px !important;
    width: 132px !important;
  }
  .mobile-toggle {
    margin-top: 3% !important;
  }
  .search-div {
    margin-top: 3% !important;
  }
}
@media (max-width: 576px) {
  .mobile-toggle {
    /* margin-top: 5% !important; */
  }
  .search-div {
    /* margin-top: 6% !important; */
  }
}
@media (max-width: 767px) {
  .logo {
    width: 128px;
    height: 23px;
  }
  .toggle-button {
    font-size: 24px !important;
  }
  .search-button {
    font-size: 24px !important;
  }
  .btn-search {
    margin-top: 3%;
    border: none;
    background-color: transparent;
  }
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  /* border-radius: .375rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: none !important;
}
.register-account {
  font-family: Lato regular;
  font-size: 16px;
}
.phone-number {
  position: relative;
}
.edit-button {
  position: absolute;
  left: 426px;
  top: 25px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: none !important;
  border-radius: 1px !important;
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: none !important;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-top: none !important;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
  padding-top: 0px !important;
}
.number-input {
  border: 1px solid grey !important;
  border-radius: 1px !important;
  padding: 3%;
  margin-top: 2%;
}
.otp-send {
  font-size: 15px;
  font-family: Lato regular;
}
.gender {
  font-family: Lato regular;
  font-size: 15px;
  font-weight: bold;
}
.button-back {
  background-color: transparent;
  border: none !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.submit-button {
  background-color: black;
  color: white;
  font-family: Lato regular;
  font-size: 18px;
  padding: 5px 32px 5px 32px;
  text-transform: uppercase;
}
.login-account {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Lato regular;
}
.facebook-button {
  text-transform: uppercase;
  font-size: 17px;
  color: #194bbc;
  font-family: Lato bold;
  border: 1px solid #194bbc;
  background-color: transparent;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 5px 22px 5px 22px;
  margin-top: 2%;
}
.google-button {
  text-transform: uppercase;
  font-size: 17px;
  color: #e65353;
  font-family: Lato bold;
  border: 1px solid #e65353;
  background-color: transparent;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 5px 22px 5px 22px;
  margin-top: 2%;
}
.or {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Lato regular;
}
.enter-text {
  font-size: 14px;
  font-family: Lato regular;
}
.text-signin {
  font-family: Monsterrat medium;
  font-size: 12px;
  color: grey;
}
.tandc {
  font-family: Monsterrat medium;
  font-size: 12px;
  color: black;
}
.otp-title {
  text-transform: uppercase;
  font-family: Monsterrat bold;
}
.otp-enter {
  font-family: Lato regular;
  font-size: 15px;
}
.resend {
  color: #e65353;
  float: right;
  font-size: 14px;
}
.otp-dialog {
  padding-top: 10%;
}
